.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    margin: 0 0 8px 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.card img {
    width: 100%;
    height: 120px;
    border-radius: 8px;
}

.card {
    position: relative;
    margin-top: 10px;
}

.card .cardFront {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in .2s;
}


.card .cardBack {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    transition: all ease-in .2s;
}




.rotated .cardFront {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.rotated .cardBack {
    transform: rotateY(90deg);
    transition-delay: 0.2s;
}


.scoreBoard {
    display: flex;
    justify-content: space-around;
}

.scoreBoard p{
    margin: 0;
}

